

/*additions*/
table.nice td{ border-bottom: 1px solid #EEE;}

   .nice thead th{
    padding:6px 10px;
    color:#444;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    border-bottom:1px solid  #9E9C9C;
}
.nice tbody tr{
    padding:3px;
     background-color:#EFF0EF;
    color:#444;
    border-bottom:1px solid #C2BFBF;
   	background: -webkit-linear-gradient(top, #fff, #eee);
    background: -o-linear-gradient(top, #fff,#eee);
    background: linear-gradient(top, #fff, #eee);
    background: -moz-linear-gradient(top, #fff, #eee);
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));

    filter: progid:DXImageTransform.Microsoft.gradient(StartColorstr='#ffffff',EndColorstr='#eeeeee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eeeeee)";
    text-shadow:1px 1px 1px #fff;
}
tr.head-staff td{
background-image: -webkit-gradient(linear, left top, left bottom, from(#BDBDBD), to(#eee));
background: -webkit-linear-gradient(top, #BDBDBD, #eee);
 background: -o-linear-gradient(top, #BDBDBD,#eee);
background: linear-gradient(top, #BDBDBD, #eee);
 background: -moz-linear-gradient(top, #BDBDBD, #eee);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#BDBDBD',EndColorStr='#eeeeee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BDBDBD, endColorstr=#eeeeee)";
	
}
.action {width:atuo}
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.nice {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.nice tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.nice td, .nice th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 3px;
 
}

.nice th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.nice td:first-child, .nice th:first-child {
    border-left: none;
}

.nice th:first-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.nice th:last-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.nice th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.nice tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.nice tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

 table.minimal td{
 padding-bottom:2px;
  border-left: none;
 
 }
 
